@font-face {
    font-family: GoogleSans;
    src: url(GoogleSans-VariableFont_GRAD,opsz,wght.ttf);
}

:root {
    --on-surface: #1D1B20;
    --inverse-surface:#27202e;
    --primary:#4f3f7b;
    --primary-container:#EADDFF;
    --on-secondary-container: #4A4458;
}

html, body {
    user-select: none;
    margin: 0rem;
    background-color: var(--on-surface);
}

body{
    display: flex;
}

.sidebar {
    margin: 1vh;
    display: flex;
    flex-direction: column;
    max-width: 10rem;
}

p {
    font-family: GoogleSans;
    font-weight: 600;
    color: var(--primary-container);
}

a {
    flex-direction: column;
    margin: 0.1rem;
    font-family: GoogleSans;
    font-weight: 600;
    color: var(--primary-container);
    background-color: var(--primary);
    padding: 24px;
    border-radius: 8px;
    text-align: center;  
    transition: 150ms;
    cursor: pointer;
    text-decoration: none;
}

a:hover{
    background-color: var(--primary-container);
    color: var(--primary);  
}

.contentpage{
    margin: 1vh;
    margin-left: 0;
    display: grid;
    height: 98vh;
    width: 100%;
}

.contentpage div{
    background-color: var(--inverse-surface);
    border-radius: 28px;
    padding: 2rem;
    padding-top: 0rem;
}

.hidden {
    display: none;
}